<a href="https://colab.research.google.com/github/ashwini-31/ashwini-31/blob/main/introductory_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5;
n = a*a
print(n)

25

In [8]:

a = 5
b = 10
num = int(input("enter a num:"))
t = a
a = b
b = t
print("After swapping:")
print("a=", a)
print("b=", b)

enter a num:10
After swapping:
a= 10
b= 5

In [18]:
num = int(input("enter num: "))
if num > 0:
  print("is positive")
elif num < 0:
  print("is negative")
else:
  print("is zero")

enter num: 5
is positive

In [19]:
num = int(input("enter a number: "))
if(num %2 ==0):
  print("is even")
else:
  print("is odd")

enter a number: 12
is even

In [20]:
import pandas as pd

In [21]:
df = {'name': ['abc', 'efg', 'hij', 'klm', 'nmop'],
      'age': [10, 25, 46, 74, 9],
      'city': ['chicago', 'la', 'new York', 'london', 'delhi']}

In [22]:
print(df)

{'name': ['abc', 'efg', 'hij', 'klm', 'nmop'], 'age': [10, 25, 46, 74, 9], 'city': ['chicago', 'la', 'new York', 'london', 'delhi']}

In [24]:
df = pd.DataFrame(df)
print("age greater than 25:")
print(df[df['age'] > 25])

age greater than 25:
  name  age      city
2  hij   46  new York
3  klm   74    london