<a href="https://colab.research.google.com/github/ashwini-31/ashwini-31/blob/main/introductory_session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

num = int(input("Enter a number: "))
square = num ** 2

print(f"The square of {num} is {square}")

Enter a number: 5
The square of 5 is 25

In [ ]:

a = 5
b = 10
num = int(input("enter a num:"))
t = a
a = b
b = t
print("After swapping:")
print("a=", a)
print("b=", b)

enter a num:10
After swapping:
a= 10
b= 5

In [ ]:
num = int(input("enter num: "))
if num > 0:
  print("is positive")
elif num < 0:
  print("is negative")
else:
  print("is zero")

enter num: 5
is positive

In [ ]:
num = int(input("enter a number: "))
if(num %2 ==0):
  print("is even")
else:
  print("is odd")

enter a number: 12
is even

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)


num = int(input("Enter a number: "))
print(f"Factorial of {num} is {factorial(num)}")

Enter a number: 3
Factorial of 3 is 6

In [ ]:
import pandas as pd

In [ ]:
df = {'name': ['abc', 'efg', 'hij', 'klm', 'nmop'],
      'age': [10, 25, 46, 74, 9],
      'city': ['chicago', 'la', 'new York', 'london', 'delhi']}

In [ ]:
print(df)

{'name': ['abc', 'efg', 'hij', 'klm', 'nmop'], 'age': [10, 25, 46, 74, 9], 'city': ['chicago', 'la', 'new York', 'london', 'delhi']}

In [ ]:
df = pd.DataFrame(df)
print("age greater than 25:")
print(df[df['age'] > 25])

age greater than 25:
  name  age      city
2  hij   46  new York
3  klm   74    london